<div ng-controller="AccountCtrl" layout="row" layout-fill>
    <div layout="column" layout-align="center center" layout-fill>
        <div>
            <md-input-container class="md-accent">
                <label>Username</label>
                <input ng-model="loginData.userName">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-accent">
                <label>Password</label>
                <input ng-model="loginData.password" type="password">
            </md-input-container>
        </div>
        <div>
            <md-button class="md-accent md-raised md-hue-1" ng-click="login()">Login</md-button>
        </div>
    </div>
</div>